@model AutonoFit.ViewModels.ProgramWorkoutVM

@{
    ViewData["Title"] = "Workout";
}

<link rel="stylesheet" href="~/css/DisplayWorkout.css" />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />
<div class="container">
    <form asp-action="CompleteProgramWorkout" style="top: 30px;">
        @if (Model.LiftingComponent != null)
        {
            <table class="table table-dark table-hover lift-table">
                <tr>
                    <th>Exercise Name</th>
                    <th>Description</th>
                    <th>Sets</th>
                    <th>Repetitions</th>
                    <th>Rest Time</th>
                    <th>RPE</th>
                </tr>
                <tbody>
                        @for (int i = 0; i < Model.LiftingComponent.exercises.Count; i++)
                        {
                            <tr>
                                <td>@Model.LiftingComponent.exercises[i].name</td>
                                <td><details style="max-width: 60%;"><summary>Instructions</summary>@Model.LiftingComponent.exercises[i].description</details></td>
                                <td>@Model.LiftingComponent.exercises[i].Sets</td>
                                <td>@Model.LiftingComponent.exercises[i].Reps</td>
                                <td>@Model.LiftingComponent.exercises[i].RestString</td>
                                <td><input type="number" min="6" max="20" value="12" asp-for="@Model.RPEs" /></td>
                            </tr>
                        }
                
                </tbody>
            </table>
            <br />
        }

        @if (Model.CardioComponent != null && Model.CardioComponent.runType != null)
        {
            <div class="cardio-zone col-md-6">
                <h3 style="margin-bottom: 30px;">Today's Cardio</h3>
                <dl class="row">
                    <dt class="col-md-6">Target Distance: </dt>
                    <dd class="col-md-6">@Model.CardioComponent.distanceMiles.ToString("#.##") miles</dd>
                    <dt class="col-md-6">Target Duration: </dt>
                    <dd class="col-md-6">@Model.CardioComponent.durationString</dd>
                    <dt class="col-md-6">Target Pace: </dt>
                    <dd class="col-md-6">@Model.CardioComponent.paceString</dd>
                </dl>
            </div>
        
            <label asp-for="@Model.CardioRPE"></label>
            <input type="number" min="6" max="20" value="12" asp-for="@Model.CardioRPE" id="cardio-rpe" />
        }

        <input type="hidden" asp-for="@Model.ClientWorkout.Id" />
        <input type="submit" class="complete-btn" value="Workout Completed" />
    </form>
</div>