@model AutonoFit.ViewModels.SingleWorkoutVM

@{
    ViewData["Title"] = "Workout";
}

<link rel="stylesheet" href="~/css/DisplayWorkout.css" />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />
<div class="container">
    <table class="table table-dark table-hover lift-table">
        <tr>
            <th>Exercise Name</th>
            <th>Description</th>
            <th>Sets</th>
            <th>Repetitions</th>
            <th>Rest Time</th>
        </tr>
        <tbody>
            @foreach (var exercise in Model.Exercises)
            {
                <tr>
                    <td>@exercise.name</td>
                    <td><details style="max-width: 60%;"><summary>Instructions</summary>@exercise.description</details></td>
                    <td>@Model.LiftingComponent.sets</td>
                    <td>@Model.LiftingComponent.reps</td>
                    <td>@Model.LiftingComponent.restString</td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    @if (Model.CardioComponent != null)
    {
        <div class="cardio-zone col-md-6">
            <h3 style="margin-bottom: 30px;">Today's Cardio</h3>
            <dl class="row">
                <dt class="col-md-6">Target Distance: </dt>
                <dd class="col-md-6">@Model.CardioComponent.distanceMiles.ToString("#.##") miles</dd>
                <dt class="col-md-6">Target Duration: </dt>
                <dd class="col-md-6">@Model.CardioComponent.durationString</dd>
                <dt class="col-md-6">Target Pace: </dt>
                <dd class="col-md-6">@Model.CardioComponent.paceString</dd>
            </dl>
        </div>
    }

    <form asp-action="CompleteSingleWorkout" style="top: 30px;">
        <input type="submit" class="complete-btn" value="Complete Workout" />
    </form>


</div>


