@model AutonoFit.ViewModels.ProgramWorkoutVM

@{
    ViewData["Title"] = "Workout";
}

<link rel="stylesheet" href="~/css/SingleWorkout.css" />
<style>
    .btn-fun {
        text-align: center;
        background-color: rgba(30, 90, 255, .9);
        box-shadow: rgba(10, 30, 85, .8) 0px 10px 7px;
        border-radius: 3px;
        border: none;
        color: whitesmoke;
        font-size: large;
        padding: 5px 20px 5px 20px;
        margin-top: 45px;
    }
    h1 {
        color: white;
        font-weight: 800;
        text-shadow: 10px 2px 15px blue;
        margin-top: 8%;
        margin-bottom: 20px;
    }
</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />
<div class="container">
    <form asp-action="CompleteProgramWorkout" style="top: 30px;">
        <table class="table table-dark table-hover lift-table">
            <tr>
                <th>Exercise Name</th>
                <th>Description</th>
                <th>Sets</th>
                <th>Repetitions</th>
                <th>Rest Time</th>
                <th>RPE</th>
            </tr>
            <tbody>
                @for (int i = 0, j = Model.FitnessDictionary[0].cardio ? 1 : 0; i < Model.ClientExercises.Count; i++, j++)
                {
                    <tr>
                        <td>@Model.Exercises[i].name</td>
                        <td><details style="max-width: 60%;"><summary>Instructions</summary>@Model.Exercises[i].description</details></td>
                        <td>@Model.ClientExercises[i].Sets</td>
                        <td>@Model.ClientExercises[i].Reps</td>
                        <td>@Model.FitnessDictionary[j].restString</td>
                        <td><input type="number" min="6" max="20" value="12" asp-for="@Model.RPEs" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        @if (Model.FitnessDictionary[0].cardio == true)
        {
            <div class="cardio-zone col-md-6">
                <h3 style="margin-bottom: 30px;">Today's Cardio</h3>
                <dl class="row">
                    <dt class="col-md-6">Target Distance: </dt>
                    <dd class="col-md-6">@Model.FitnessDictionary[0].distanceMiles.ToString("#.##") miles</dd>
                    <dt class="col-md-6">Target Duration: </dt>
                    <dd class="col-md-6">@Model.FitnessDictionary[0].durationString</dd>
                    <dt class="col-md-6">Target Pace: </dt>
                    <dd class="col-md-6">@Model.FitnessDictionary[0].paceString</dd>
                </dl>
            </div>
        }

        @if (Model.FitnessDictionary[0].runType != null)
        {
            <label asp-for="@Model.CardioRPE"></label>
            <input type="number" min="6" max="20" value="12" asp-for="@Model.CardioRPE" id="cardio-rpe" />
        }

        <input type="hidden" asp-for="@Model.ClientWorkout.Id" />
        <input type="submit" class="btn-fun" value="Workout Completed" />
    </form>


</div>