@model AutonoFit.ViewModels.ClientEquipmentVM

@{
    ViewData["Title"] = "Equipment";
}

<link rel="stylesheet" href="~/css/Equipment.css" type="text/css"/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form asp-action="Equipment">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" id="form-panel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.EquipmentList.Count; i++)
            {
                if (Model.EquipmentList[i].Name == "Bodyweight") continue;
                string checkLabelId = "checkbox" + Model.EquipmentList[i].EquipmentId;
                <div>
                    @if (Model.EquipmentChecks[i] == true)
                    {
                        <input type="checkbox" asp-for="@Model.EquipmentChecks[i]" id="@checkLabelId" checked style="margin-right: 20px;" />
                    }
                    else
                    {
                        <input type="checkbox" asp-for="@Model.EquipmentChecks[i]" id="@checkLabelId" style="margin-right: 20px;" />
                    }


                    <label for="@checkLabelId" style="display: inline-block">@Model.EquipmentList[i].Name</label>
                    <br />
                    <br />
                </div>
            }
            <input type="checkbox" checked disabled style="margin-right: 20px;" />
            <label style="display: inline-block">Bodyweight</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <input type="submit" class="submission-btn" />
        </div>
    </div>
            
</form>
