@model AutonoFit.ViewModels.ClientEquipmentVM

@{
    ViewData["Title"] = "Equipment";
    bool possessed = false;
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @foreach (var piece in Model.EquipmentList)
                {
                    string checkLabelId = "checkbox" + piece.EquipmentId;
                    <div>
                        @foreach (var possessedPiece in Model.ClientEquipmentList)
                        {
                            if (possessedPiece.EquipmentId == piece.EquipmentId)
                            {
                                possessed = true;
                                break;
                            }
                        }
                        @if (possessed == true)
                        {
                            <input type="checkbox" id="@checkLabelId" checked style="margin-right: 20px;" />
                            possessed = false;
                        }
                        else
                        {
                            <input type="checkbox" id="@checkLabelId" style="margin-right: 20px;" />
                        }
                        <label for="@checkLabelId" style="display: inline-block">@piece.Name</label>
                        <br />
                        <br />
                    </div>
                }
                <input type="checkbox" id="checkbox7" checked style="margin-right: 20px;" />
                <label for="checkbox7" style="display: inline-block">Bodyweight</label>
                <br /><br /><br />
                <input type="submit" class="btn btn-primary" />
            </form>
        </div>   
    </div>
</div>