@model AutonoFit.ViewModels.ProgramOverviewVM

@{
    ViewData["Title"] = "Program Overview";
}

<link rel="stylesheet" href="~/css/ProgramOverview.css" type="text/css" />

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h2>@Model.ClientProgram.ProgramName</h2>
        </div>
    </div>

    <hr />
    <div>
        <div class="container panel">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <strong>Program Start Date:  </strong>
                </div>
                <div class="col-md-6">
                    @Model.ProgramStart
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <strong>Goal One: </strong>
                </div>
                <div class="col-md-6">
                    @Model.GoalOneName
                </div>
            </div>
            <br />
            @if (Model.GoalTwoName != null)
            {
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <strong>Goal Two: </strong>
                    </div>
                    <div class="col-md-6">
                        @Model.GoalTwoName
                    </div>
                </div>
                <br />
            }
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <strong>Days Per Week: </strong>
                </div>
                <div class="col-md-6">
                    @Model.ClientProgram.DaysPerWeek
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <strong>Minutes Per Session: </strong>
                </div>
                <div class="col-md-6">
                    @Model.ClientProgram.MinutesPerSession
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <strong>Workouts Completed: </strong>
                </div>
                <div class="col-md-6">
                    @Model.WorkoutsCompleted
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <strong>Workout Completion %: </strong>
                </div>
                @if ((DateTime.Now - Model.ClientProgram.ProgramStart).Days >= 7)
                {
                    <div class="col-md-6">
                        @Model.AttendanceRating
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        This stat will be available after 1 week.
                    </div>
                }
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">

                </div>
            </div>
        </div>
    </div>
<form asp-action="GenerateProgramWorkout">
    <div class="row">
        <div class="col-md-2"></div>
        <input type="hidden" asp-for="@Model.ClientProgram.ProgramId" name="programId" />
        <input class="submission-btn" type="submit" value="Generate Next Workout" />
    </div>
    
</form>