@model AutonoFit.ViewModels.ProgramSetupVM

@{
    ViewData["Title"] = "Program Setup";
    ViewData["ErrorMessage"] = Model.ErrorMessage;
}
<style>
    h1 {
        color: white;
        font-weight: 800;
        text-shadow: 10px 2px 15px blue;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn-fun {
        text-align: center;
        background-color: rgba(30, 90, 255, .9);
        box-shadow: rgba(10, 30, 85, .8) 0px 10px 7px;
        border-radius: 3px;
        border: none;
        color: whitesmoke;
        font-size: large;
        padding: 5px 20px 5px 20px;
        margin-top: 30px;
    }
</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


<hr />
@if (Model.ErrorMessage != null)
{
    <script>
        alert("@ViewData["ErrorMessage"]");
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <form asp-action="CheckProgramFormValidity" method="post">
                <div>
                    <div style="background-color: rgba(30, 90, 255, .9); box-shadow: rgba(83, 60, 85, .8) 0px 10px 7px; color: white; padding-left: 30px;">
                        <br />
                        <div>
                            <p><b>Name your workout program(eg. Spring '21, Preseason Lifting, New Years Resolution).</b></p>
                            <label asp-for="@Model.ProgramName" style="margin-right: 15px;">Name: </label>
                            <input asp-for="@Model.ProgramName" style="display: inline-block; margin-right: 10px;" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p><b>How many days are you available to workout each week?</b></p>
                            <label asp-for="@Model.Days" style="margin-right: 15px;">Session Frequency: </label>
                            <input asp-for="@Model.Days" min="2" max="6" value="4" style="display: inline-block; margin-right: 10px;" />
                            <p style="display: inline-block;">days</p>
                        </div>
                        <br />
                        <div>
                            <p><b>How much time do you have for each session?</b></p>
                            <label asp-for="@Model.Minutes" style="margin-right: 15px;">Session Length: </label>
                            <input asp-for="@Model.Minutes" min="20" max="90" value="45" style="display: inline-block; margin-right: 10px;" />
                            <p style="display: inline-block;">minutes</p>
                        </div>
                        <br />
                        <div>
                            <p><b>Select 1-2 fitness goals</b></p>
                            <label asp-for="@Model.GoalIds[0]" style="margin-right: 15px;">Goal One: </label>
                            <select asp-for="@Model.GoalIds[0]" id="goal-one" onchange="checkCardio(document.getElementById('goal-one').value, document.getElementById('goal-two').value)">
                                <option value="0">Select below</option>
                                @foreach (var goal in Model.AvailableGoals)
                                {
                                    <option value="@goal.GoalId">@goal.Name</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div>
                            <label asp-for="@Model.GoalIds[1]" style="margin-right: 15px;">Goal Two: </label>
                            <select asp-for="@Model.GoalIds[1]" id="goal-two" onchange="checkCardio(document.getElementById('goal-one').value, document.getElementById('goal-two').value)">
                                <option value="0">Select below</option>
                                @foreach (var goal in Model.AvailableGoals)
                                {
                                    <option value="@goal.GoalId">@goal.Name</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div style="display: none;" id="mile-min">
                            <p><b>Enter typical mile time</b></p>
                            <label asp-for="@Model.MileMinutes" style="margin-right: 15px;">Mile Time: </label>
                            <input asp-for="@Model.MileMinutes" value="9" min="0" style="display: inline-block; margin-right: 10px;" />
                            <p style="display: inline-block; margin-right: 10px;">minutes</p>
                        </div>
                        <div style="display: none;" id="mile-sec">
                            <input asp-for="@Model.MileSeconds" value="00" min="0" max="59" style="display: inline-block; margin-right: 10px;" />
                            <p style="display: inline-block;">seconds</p>
                        </div>

                        <br />
                        <br />

                    </div>
                    <div class="col-md-2"></div>

                    <input type="submit" class="btn-fun" style="margin-top: 30px;" />

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var intensityAlertAlreadyActivated = false;
</script>

@if (Model.DiscourageHighIntensity)
{
    <script src="~/js/CheckCardioAndSuitableGoal.js">
    </script>
}
else
{
    <script src="~/js/CheckCardio.js">
    </script>
}
