@model AutonoFit.ViewModels.SingleWorkoutVM

@{
    ViewData["Title"] = "Workout Setup";
    ViewData["ErrorMessage"] = "You must select at least one goal to continue";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


<hr />
@if (Model.ErrorMessage == true)
{
    <script>
        alert("@ViewData["ErrorMessage"]");
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <form asp-action="GenerateSingleWorkout" method="post">
                <div>
                    <br />
                    <div>
                        <p><b>Select session duration</b></p>
                        <label asp-for="@Model.Minutes" style="margin-right: 15px;">Session Length: </label>
                        <input asp-for="@Model.Minutes" min="20" max="90" value="45" style="display: inline-block; margin-right: 10px;" />
                        <p style="display: inline-block;">minutes</p>
                    </div>
                    <br />
                    <div>
                        <p><b>Select 1-2 fitness goals for the session</b></p>
                        <label asp-for="@Model.GoalIds[0]" style="margin-right: 15px;">Goal One: </label>
                        <select asp-for="@Model.GoalIds[0]" style="margin-bottom: 10px;">
                            <option value="0">Select below</option>
                            @foreach (var goal in Model.AvailableGoals)
                            {
                                <option value="@goal.GoalId">@goal.Name</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div>
                        <label asp-for="@Model.GoalIds[1]" style="margin-right: 15px;">Goal Two: </label>
                        <select asp-for="@Model.GoalIds[1]">
                            <option value="0">Select below</option>
                            @foreach (var goal in Model.AvailableGoals)
                            {
                                <option>@goal.Name</option>
                            }
                        </select>
                    </div>
                    <br />
                    <br />
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
